
@media screen and (min-width: 300px) and (max-width: 768px){

label {
	font-size: 40px;
}

input[type="text"]{
	height: 100px;
	font-size: 40px;

}

input[type="date"]{
	height: 100px;
	font-size: 40px;

}
input[type="number"]{
	height: 100px;
	font-size: 40px;

}

input[type="email"]{
	height: 100px;
	font-size: 40px;

}

input[type="password"]{
	height: 100px;
	font-size: 40px;

}





}