
 /* container site*/


/*Start left side*/

.content{
	
	background: white;
}

.empty{
	width: 100%;
	height: 100px;
}



}







.news-middle-container h1{
	font-family: Open Sans;
	font-weight: 400;
	
}

.news-middle-container a {
	color: #de1a1a;
	font-size: 30px;

}

.news-footer{
	height: 90px;
}

.inner-footer{
	width: 80%;
	height: 40px;
	padding-top: 15px;
	
	font-family: Lucida Console;
	background: white;
	margin: auto;
}



.post-time{
	border-bottom: 1px dotted #999;
	float: right;
}



/*End left side*/

/*Start right side*/
.scope{

	width: 360px;
	
	background: #fff;
    
    background:#fdfdfd;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    font-family: Lucida Console;
    font-weight: 400;
    
   
}

.scope h3{
	font-size: 25px;
	color:#666; 
	padding: 30px 30px 20px 40px;

}



/*Butoane social*/



/*Popular posts*/
.posts-img{
	border-radius: 200px;
	padding: 5px 0px 0px 0px;
	margin-left: 30px;
	clear: right;
}

.post-link{
	cursor: pointer;
	width: 60%;
	float: right;
	color: #de1a1a
}

.post1{
	height: 140px;
	border-bottom: 1px solid #f0f0f0;
	
}

.post2{
	height: 110px;
	border-bottom: 1px solid #f0f0f0;
	background: white;
}

.post3{
	height: 110px;
	border-bottom: 1px solid #f0f0f0;
	background: white;
}

.post4{
	height: 110px;
	border-bottom: 1px solid #f0f0f0;
	background: white;
}

.post5{
	height: 110px;
	border-bottom: 1px solid #f0f0f0;
	background: white;
}



.topic1{
	height: 140px;
	border-bottom: 1px solid #f0f0f0;
	

}

.topic2{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	background: white;

}

.topic3{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	background: white;

}

.topic4{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	background: white;

}

.topic5{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	background: white;

}

.topic6{
	height: 50px;
	border-bottom: 1px solid #f0f0f0;
	background: white;

}

.topics p{
	color: #666666;
	cursor: pointer;
	padding:  10px 0px 0px 10px;
	
	

}

.topics p:hover{
	margin-left: 20px;
	border-left: 2px solid red;
}

/*End right sise*/














