body{
  
  /*background: #f5f6f9;*/
      background: #f1f1f1;
  background-size: cover;
  position: relative;
  margin:0;
}


.site-wrapper{

	width: 100%;
	height: 900px;
	padding-top: 250px;
	
}


.top-row {
    width:1080px;
    margin: auto;
   
}

.second-row {
    width: 1080px;
    margin: auto;
}


.content {

	height: 280px;
	width:350px;
	border-radius: 14px;
	margin-bottom: 10px;
	font-family: Georgia;
	float: right;
	background: white;
  margin-left: 10px;
  position: relative;
  
  background-size: cover;
  opacity: 0.7;

}

.content-ist-img{
  background: url(../img/cetate.jpg);
  background-size: cover;

}

.content-aqp-img{
  background: url(../img/pres.jpg);
  background-size: cover;

}
.content-ps-img{
  background: url(../img/mal.jpg);
  background-size: cover;

}

.content-ht-img{
  background: url(../img/hilt.jpg);
  background-size: cover;

}

.content-hr-img{
  background: url(../img/hanul-cu-noroc.jpg);
  background-size: cover;

}

.content-pub-img{
  background: url(../img/grn.jpg);
  background-size: cover;

}
.content-spn-img{
  background: url(../img/spn.jpg);
  background-size: cover;
}

.president-img{
  background: url(../img/president.jpg);
  background-size: cover;
}

.nimfea-img{
  background: url(../img/nimpfea.jpg);
  background-size: cover;
}

.iosia-img{
  background: url(../img/iosia.jpg);
  background-size: cover;
}

.cetatea-img{
  background: url(../img/cetatea.jpg);
  background-size: cover;
}
.palat-img{
  background: url(../img/palat.jpg);
  background-size: cover;
}

.tarii-img{
  background: url(../img/tarii.jpg);
  background-size: cover;
}

.armatei-img{
  background: url(../img/armatei.jpg);
  background-size: cover;
}
.hilton-img{
  background: url(../img/hilton.jpg);
  background-size: cover;
}

.ramada-img{
  background: url(../img/ramada.jpg);
  background-size: cover;
}

.nevis-img{
  background: url(../img/nevis.jpg);
  background-size: cover;
}
.content:hover{
   opacity:1 ;
    cursor: pointer;
   
}

.content h3{
    
    position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  font-size: 19px;
  color: #fffffffa;
  opacity: 1;
    
    
    
}




/*Modal grade 1*/

#modal-ps{

  display:none; 

}

#modal-par{
  display: none;
}

#modal-ist{
  display: none;
}

#modal-rst{
  display: none;
}

#modal-htl{
  display: none;
}
#modal-pub{
  display: none;
}
/*General modal grad 1*/
.modal-ob{

  padding-top: 50px;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.modal-content-ob{

  width: 800px;
  height: 800px; 
    margin: auto;
        padding: 0px 0px 0px 0px;
    background: #f1f1f1;  
    
    overflow: scroll;
}

.modal-head-ob{
  height: 40px;
  width: 800px;
  background: #f1f1f1;  
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.close-ob{
  cursor: pointer;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.modal-ob-container{
  width: 770px;
  height: 300px;
  margin: auto;
  margin-bottom: 35px;
  background: white;
  border-radius: 20px;
}

.modal-ob-img{
  width:300px; 
  height: 250px; 
  margin: 25px 10px 25px 20px; 
  float: left; 
  border-radius: 10px;
  
}

.modal-ob-inf{
  width:440px; 
  height: 100%; 
  float:right; 
 
}

.modal-ob-inf h3 {
  padding-left: 60px;
  padding-top: 40px;
   width: 100%;
}

.modal-ob-text{
  width:400px;
  height: 230px; 
  margin: auto; 
  text-align: justify;
  
}

.modal-ob-text p {
  padding-top: 50px;

}

.button-rez{
  float: right;
  height: 50px;
  width: 120px;
  font-size: 16px;
  border-radius: 15px; 
  background: #03dbfc;border: none; color: white; cursor: pointer;
}
/*End general modal grad 1*/
 .input-container{
  width: 90%;
  margin: auto;

}

#modal-rez input{
  height: 30px;
  font-size: 15px;
  
  width: 100%;
  margin: auto;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  outline: none;
  
}

.myForm label {
  color: #000000b5;
    font-size: 23px;
    font-style: oblique;

}


.ciuperca-img{
  background: url(../img/ciuperca.jpg);
  background-size: cover;
}

.piata-unirii-img{
  background: url(../img/piata-u.jpg);
  background-size: cover;

}

.mal-img{
  background: url(../img/mal.jpg);
  background-size: cover;

}

.parc-img{
  background: url(../img/parc-1.jpg);
  background-size: cover;

}

.republici-img{
  background: url(../img/republici.jpg);
  background-size: cover;
}

